<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/base.css') }}">

    <!-- Latest compiled and minified Bootstrap Javascript cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='Scripts/fileUpload.js') }}"></script>
</head>

<body class="light grad" style="height: 100%;">

    <!-- Title -->
    <div class="col-12">
        <h1>Auto Watermarker</h1>
    </div>

    <!-- Layout columns -->
    <div class="container-fluid  me-3 ">
        <div class="row justify-content-around">

            <!-- Input Image section -->
            <div class="mx-5 col border rounded border-3 border-dark shadow primary fw-bold text-center">

                <div class="col">
                    <h2>Image 1:</h2>
                </div>

                <!-- Input Image Form -->
                <div class="row">
                    <label for="inputImg">Select image:</label>
                    <input class="mx-auto my-2 w-auto btn btn-outline-light" type="file" id="inputImg" name="inputImg" accept="image/*" oninput="displayInputFile()">
                </div>

                <div class="col">
                    <!-- Single Image Options -->
                    <form id="singleUploadForm">
                        <input class="btn btn-light btn-outline-dark" type="submit"  onclick="blackAndWhite()" value="Black and White">
                    </form>
                </div>

                <!-- Input Image preview -->
                <div class="col p-3" id="inputImgPreview" class="row">    
                </div>
            </div>

            <!-- WaterMark Input section -->
            <div class="mx-5 col border rounded border-3 border-dark shadow primary fw-bold text-center">

                <!-- WaterMark Image -->
                <div class="">
                    <h2>Image 2:</h2>
                </div>


                <div class="row">

                    <!-- Watermark Image Form -->
                    <div class="row">
                        <div class="col p-1 ">
                            <label for="waterMarkImg">Select image:</label>
                            <input class="mx-auto w-auto btn btn-outline-light" type="file" id="waterMarkImg" name="waterMarkImg" accept="image/*" oninput="displayWaterMarkFile()">
                        </div>

                        <div class="col p-1">
                            <label for="position">Select position:</label>
                            <select class="form-select " id="position" name="position">
                                <option class="dropdown-item">Bottom Right</option>
                                <option class="dropdown-item">Bottom Left</option>
                                <option class="dropdown-item">Top Right</option>
                                <option class="dropdown-item">Top Left</option>
                            </select>
                        </div>
                    </div>

                    <!-- Position dropdown -->
                    <div class="col p-2">

                        


                    
                        <!-- 2 Image Options -->
                        <form id="doubleUploadForm">
                            <input class="btn btn-light btn-outline-dark" type="submit" value="Water Mark">
                        </form>
                    </div>
                </div>

                <!-- Input Image preview -->
                <div class="p-3" id="waterMarkImgPreview" class="row">    
                </div>

            </div>

        </div>

        <!-- Output Image section -->
        <div class="mx-4 my-2 row border rounded border-3 shadow border-dark primary">
            <div class="col-2">
                <h2>Processed Image:</h2>
            </div>
            <div class="col-8">
                <a id="processedImageLink" download><img id="processedImage" src="" alt="Processed Image" style="display:none;" onclick="setLink();"></a>
            </div>
        </div>
    </div>

    




</body>

</html>