<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='Scripts/fileUpload.js') }}"></script>
</head>

<body class="bg-light">

    <!-- Title -->
    <div class="col-12">
        <h1>Auto Watermarker</h1>
    </div>

    <!-- 3 columns -->
    <div class="container-fluid">
        <div class="row">

            <!-- Input Image section -->
            <div class="col-5 bg-secondary">

                <!-- Input Image preview -->
                <div id="inputImgPreview" class="row">    
                </div>

                <!-- Input Image Form -->
                <div class="row">
                    <label for="inputImg">Select image:</label>
                    <input type="file" id="inputImg" name="inputImg" accept="image/*" oninput="displayInputFile()">
                </div>
            </div>

            <!-- WaterMark Input section -->
            <div class="col-2 border text-light bg-dark">

                <!-- Input Image preview -->
                <div id="waterMarkImgPreview" class="row">    
                </div>

                <!-- Input Image Form -->
                <div class="row">
                    <div class="col">
                        <label for="waterMarkImg">Select image:</label>
                        <input type="file" id="waterMarkImg" name="waterMarkImg" accept="image/*" oninput="displayWaterMarkFile()">
                    </div>

                    <!-- Position dropdown -->
                    <div class="dropdown col">

                        <select class="" id="position" name="position">
                          <option>Bottom Right</option>
                          <option>Bottom Left</option>
                          <option>Top Right</option>
                          <option>Top Left</option>
                        </select>

                    </div>

                    <div class="col">
                        <!-- Options -->
                        <form id="uploadForm">
                            <input type="submit"  onclick="blackAndWhite()" value="Black and White">
                            <input type="submit" onclick="waterMark()" value="Water Mark">
                        </form>
                    </div>
                </div>

            </div>

            <!-- Output Image section -->
            <div class="col-5 bg-secondary">
                <h2>Processed Image:</h2>
                <img id="processedImage" src="" alt="Processed Image" style="display:none;">
            </div>

        </div>
    </div>

    




</body>

</html>